<!DOCTYPE html>
{% load static %}
<html lang="it">
<head>
    <meta charset="UTF-8"/>
    <title>RPGDataManager</title>
    <link rel="stylesheet" type="text/css" href="{% static 'RPGDataManager/style.css' %}"/>
</head>
<body>
    <h1 style="text-align: center;">RPG DATA MANAGER</h1>
    <p>Benvenuto in RPGDataManager!</p>
    <p>Qui potrai trovare i link per accedere ai manager dei vari RPG di Hacker6329.</p>
    <ul>
        <li><a href="/dnd5e">D&D 5E</a></li>
    </ul>
    <footer class="main-footer">
            <p>Progettato e scritto da <a href="https://github.com/Hacker6329">Hacker6329</a>, <a href="https://github.com/ItalianDudes">ItalianDudes</a></p>
    </footer>
</body>
</html>