<!DOCTYPE html>
{% load static %}
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/png" href="{% static 'dnd5e/favicon.ico' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'dnd5e/style.css' %}"/>
        {% block head %}
            <title>D&D5E Data Manager</title>
        {% endblock %}
    </head>
    <body>
        {% if messages %}
            {% for message in messages %}
                <p class="alert alert-{{ message.tags }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
        <footer class="dnd5-footer">
            <p>Progettato e scritto da <a href="https://github.com/Hacker6329">Hacker6329</a>, <a href="https://github.com/ItalianDudes">ItalianDudes</a></p>
        </footer>
    </body>
</html>