{% extends "dnd5e/_base.html" %}
{% load static %}
{% block head %}
    <title>D&D5E Items</title>
{% endblock %}
{% block content %}
    <form method="post" class="editor-item-form">
        <label>Nome:</label>{{ form.name }}
        <label>Rarità:</label>{{ form.rarity }}
        <label>Peso (KG):</label>{{ form.weight }}
        <label>Costo (MR):</label>{{ form.cost_copper }}
        {% block category_fields %}
        {% endblock %}
        <label>Descrizione:</label>{{ form.description }}
        {% csrf_token %}
        <br/>
        <button type="button" onclick="window.location.href='/dnd5e/items/'">INDIETRO</button>
        <button type="submit" name="action" value="save">SALVA</button>
        {% if edit %}
            <button type="submit" name="action" value="delete" onclick="return confirm('Confermare eliminazione?')">ELIMINA</button>
        {% endif %}
    </form>
{% endblock %}