{% extends "dnd5e/_base.html" %}
{% load static %}
{% block head %}
    <title>D&D5E Items</title>
{% endblock %}
{% block content %}
    <form method="post" class="editor-item-form">
        {{ form.name }}
        {{ form.rarity }}
        {{ form.weight }}
        {{ form.cost_copper }}
        {{ form.description }}
        {% block category_fields %}
        {% endblock %}
        {% csrf_token %}
        <br/>
        <button type="button" onclick="window.location.href='/dnd5e/items/'">INDIETRO</button>
        <button type="submit" name="action" value="save">SALVA</button>
        {% if edit %}
            <button type="submit" name="action" value="delete" onclick="return confirm('Confermare eliminazione?')">ELIMINA</button>
        {% endif %}
    </form>
{% endblock %}