/* PROPERTIES OVERRIDE */
table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    text-align: left;
    white-space: nowrap;
    padding: 5px;
}

/* CLASS DEFINITIONS */
.items-form {
    display: flex;
    gap: 0.3rem;
}
.alert {
    text-align: center;
    font-weight: bold;
}
.alert-success {
    color: green;
}
.alert-error {
    color: red;
}